#menuMain {
    display: block;
    font-size: 12px;
    height:  49px;
    margin: 0 auto;
	position: relative;
	width: 980px;
    z-index: 1000;
}

#menuMain ul, #menuMain li {
    list-style: none;
	margin: 0;
	padding: 0;
}

#menuMain li {
	float: left;
	margin-right: 30px;
}

#menuMain li li {
	margin-right: 0;
    text-align: left;
}

#menuMain li a:link, #menuMain li a:visited, #menuMain li a:hover {
    background-color: #94552c;
    color: #F8F9F3;
	display: block;
	margin: 0;
	padding: 15px 0;
    text-transform: uppercase;
}

#menuMain ul ul li a:link, #menuMain ul ul li a:visited {
	border: none;
}

#menuMain li a:hover, #menuMain li.active a {
    background: url("../img/topnav_a.gif") top center no-repeat #94552c;
	color: #BBAE77;
}

#menuMain li li a:link, #menuMain li li a:visited {
    background-color: #94552c;
	background-image: none;
    border: none;
    color: #F8F9F3;
    float: none;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
	padding: 7px 10px;
	width: 150px;
}

#menuMain li li a:hover {
    background-color: #94552c;
	color: #BBAE77;
}

#menuMain ul ul {
    border-left: 1px solid #bc7b4f;
    border-bottom: 1px solid #bc7b4f;
    height: auto;
    left: -999em;
	position: absolute;
    width: 170px;
    z-index: 9999;
}

#menuMain ul ul a {
	width: 140px;
}

#menuMain li:hover ul {
	left: auto;
}

#menuMain li:hover {
	position: static;
}

#menuMain li.last {
	margin-right: 0;
}